:root {
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: black;
  background: white
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 10px;
  background-color:darkslateblue;
}

.page{
  color:white;
  font-weight: bold;
  font-size: 1.5em;
  padding:10px;
}

h1{
  padding:0 30px;
  color:darkslateblue;
}

.sinMenu{
  padding: 10px;
}

.sinMenu h1{
  padding: 0;
}

.cuerpo{
  display:flex;
  flex-direction: row;
  padding: 10px;
}

.tienda, .blog{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 45px;
  background-color:darkslateblue;
  border-radius: 10px;
}

.blog{
  padding: 35px;
}

.tienda-page, .blog-page{
  padding: 0 20px;
}

.titulo{
  display:flex;
  flex-direction: row;
}

.titulo h1{
  padding: 0 5px;
}